.container {
    display: grid;
    gap: 15px;
}

.row {
    margin-bottom: 10px;
}

.label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 1000;
}

.value {
    font-size: 15px;
    font-weight: 500;
}

.rowHistory {
    height: 70px;
}
