* {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #534444;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#app {
    width: 700px;
    padding: 10px;

    background: #bfb1b1ff;
}

button {
    padding: 10px;
    border: 1px solid black;
    color: black;
    font-size: 10px;
    text-transform: uppercase;
    z-index: 1;
    background: white;
    position: relative;
    font-weight: 1000;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    width: 140px;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: black;
    z-index: -1;

    transition: all 250ms;
}

button:hover {
    color: white;
}

button:hover::before {
    height: 100%;
}
