.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    align-self: flex-end;
}

.title {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 1000;
}

.description {
    margin: 0;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}
